<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .errorInput {
            border: 1px solid red;
        }

        .errorLabel {
            color: red;
        }
    </style>
</head>
<body>
<form action="/" method="POST">
    {% if fields.firstname.error %}
    <label class="errorLabel" for="fistname">First Name: ({{ fields.firstname.error }}) </label><input class="errorInput" type="text" placeholder="Your First Name" id="fistname" name="firstname" value="">
    {% else %}
    <label for="fistname">First Name: </label><input type="text" placeholder="Your First Name" value="{% if fields.firstname.val %}{{ fields.firstname.val }}{% endif %}" id="fistname" name="firstname">
    {% endif %}

    {% if fields.lastname.error %}
    <label class="errorLabel" for="lastname">Last Name: ({{ fields.lastname.error }}) </label><input class="errorInput" type="text" placeholder="Your Last Name" id="lastname" name="lastname">
    {% else %}
    <label for="lastname">Last Name: </label><input type="text" placeholder="Your Last Name" value="{% if fields.lastname.val %}{{ fields.lastname.val }}{% endif %}" id="lastname" name="lastname">
    {% endif %}

    {% if fields.username.error %}
    <label class="errorLabel" for="username">Username: ({{ fields.username.error }}) </label><input class="errorInput" type="text" placeholder="Your Username" id="username" name="username">
    {% else %}
    <label for="username">Username: </label><input type="text" placeholder="Your Username" value="{% if fields.username.val %}{{ fields.username.val }}{% endif %}" id="username" name="username">
    {% endif %}

    {% if fields.password.error %}
    <label class="errorLabel" for="password">Password: ({{ fields.password.error }}) </label><input class="errorInput" type="password" placeholder="Your Password Account" id="password" name="password">
    {% else %}
    <label for="password">Password: </label><input type="password" placeholder="Your Password Account" value="{% if fields.password.val %}{{ fields.password.val }}{% endif %}" id="password" name="password">
    {% endif %}

    {% if fields.cpassword.error %}
    <label class="errorLabel" for="cpassword">Confirm Your Password: ({{ fields.cpassword.error }}) </label><input class="errorInput" type="password" placeholder="Confirm Your Password" id="cpassword" name="cpassword">
    {% else %}
    <label for="cpassword">Confirm Your Password: </label><input type="password" placeholder="Confirm Your Password" value="{% if fields.cpassword.val %}{{ fields.cpassword.val }}{% endif %}" id="cpassword" name="cpassword">
    {% endif %}

    {% if fields.age.error %}
    <label class="errorLabel" for="age">Age: ({{ fields.age.error }}) </label><input class="errorInput" type="number" placeholder="Your Age" id="age" name="age">
    {% else %}
    <label for="age">Age: </label><input type="number" placeholder="Your Age" value="{% if fields.age.val %}{{ fields.age.val }}{% endif %}" id="age" name="age">
    {% endif %}

    {% if fields.email.error %}
    <label class="errorLabel" for="email">Email: ({{ fields.email.error }}) </label><input class="errorInput" type="email" placeholder="YourEmail@example.com" id="email" name="email">
    {% else %}
    <label for="email">Email:</label><input type="email" placeholder="YourEmail@example.com" value="{% if fields.email.val %}{{ fields.email.val }}{% endif %}" id="email" name="email">
    {% endif %}


    <input type="submit" value="Register">
</form>
</body>
</html>