{% from "form_helpers.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .errorInput {
            border: 1px solid red;
        }

        .errorLabel {
            color: red;
        }
    </style>
</head>
<body>
<form action="/register" method="POST">
    <dl>
    {{ render_field(form_register.firstname) }}
    {{ render_field(form_register.lastname) }}
    {{ render_field(form_register.age) }}
    {{ render_field(form_register.username) }}
    {{ render_field(form_register.email) }}
    {{ render_field(form_register.password) }}
    {{ render_field(form_register.confirm) }}
    </dl>

    <input type="submit" value="Register">
</form>
</body>
</html>